<div class="container" ng-controller="MainController as mainCtrl">
    <div class="col-md-3 classes-submenu">
        <ul>
            <li ng-repeat="class in mainCtrl.classesData">
                <a ng-class="{ active:mainCtrl.isSet(class.className) }"
                   href="" ng-click="mainCtrl.setClass(class.className)">{{class.className}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 classes-detail-panel">
        <h1>This is where the classes detail would go</h1>

    </div>
</div>