@import 'bootstrap/bootstrap';

$active-class: red;

.logout {
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

a.active, a.active:hover {
  color: $active-class;
  text-decoration: none;
}